# Files or folders to be ignored by git
# They will not be put in the github repo and will only stay in your machine

venv
gpt/baby_names

*/small_gpt/venv

prod.sh

secrets.txt

whatIs/backups/*
whatIs/finals/*
whatIs/results.*
whatIs/__*

